#mainContent_gal{
    min-height: 100%;
    padding-top: 50px;
    padding-bottom:50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white
}

#mainContent_gal:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
/*  float: left;*/
  width: 100%;
  padding: 15px;
}

#column2_l,#column2_r,#column1_l,#column1_r{
    float: left;
    width: 50%;
}

.column2 {
/*  float: right;*/
  width: 100%;
  padding: 50px;
}

.column3 {
/*  float: right;*/
  width: 100%;
  padding: 50px;
}



