#mainContent_projls{
    min-height: 100%;
    padding-top: 50px;
    padding-bottom:50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white
}

#mainContent_projls:after {
  content: "";
  display: table;
  clear: both;
}

mainContent_projls.column1 {
/*  float: left;*/
  width: 100%;
  padding: 50px;
}

mainContent_projls.column2 {
/*  float: right;*/
  width: 100%;
  padding: 50px;
}

mainContent_projls.column3 {
/*  float: right;*/
  width: 100%;
  padding: 50px;
}

#mainContent_projls h2,#mainContent_projls dl{
    
    text-align: left;
}

